<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/ripples.min.css" rel="stylesheet">
        <link href="css/material-wfont.min.css" rel="stylesheet">

        <title>FRC Ticker</title>
    </head>
    <body>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="js/ripples.min.js"></script>
        <script src="js/material.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
        <script type='text/javascript' src='javascript/firebase_updates.js'></script>
        <script>
        $(document).ready(function() {
            $.material.init();

            // Show/hide notification types based on checkboxes
            $('input[type="checkbox"]').click(function(){
                $('.' + $(this).attr("value")).slideToggle();
            });
        });
        </script>


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0)">FRC Ticker</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://thebluealliance.com" target="_blank">Powered by The Blue Alliance</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://www.thebluealliance.com/apidocs/webhooks" target="_blank">Get the data!</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 80px">
            <div class="row">
                <div data-spy="affix">
                    <div class="checkbox checkbox-material-orange">
                        <label>
                            <input checked type="checkbox" value="upcoming_match">
                            Upcoming Matches
                        </label>
                    </div>
                    <div class="checkbox checkbox-material-indigo">
                        <label>
                            <input checked type="checkbox" value="match_score">
                            Match Results
                        </label>
                    </div>
                    <div class="checkbox checkbox-material-light-blue">
                        <label>
                            <input checked type="checkbox" value="schedule_updated">
                            Schedule Updated
                        </label>
                    </div>
                    <div class="checkbox checkbox-material-purple">
                        <label>
                            <input checked type="checkbox" value="starting_comp_level">
                            Competition Level Starting
                        </label>
                    </div>
                    <div class="checkbox checkbox-material-red">
                        <label>
                            <input checked type="checkbox" value="alliance_selection">
                            Alliance Selections
                        </label>
                    </div>
                    <div class="checkbox checkbox-material-green">
                        <label>
                            <input checked type="checkbox" value="awards_posted">
                            Awards Posted
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3"></div>
                <div class="col-xs-12 col-md-6">
                    <div id="notifications"></div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">About</div>
                        <div class="panel-body">
                            <p>FRC Ticker is a live-updating stream of FRC event information. It is meant to demo the functionality of <a href="http://www.thebluealliance.com/apidocs/webhooks" target="_blank">The Blue Alliance Webhooks</a> and the powerful things you can do with a realtime stream of data.</p>
                        </div>
                        <div class="panel-footer">
                            <a href="https://github.com/the-blue-alliance/the-blue-alliance-notification-firehose" class="btn btn-block btn-info" target="_blank"><span class="glyphicon glyphicon-wrench" style="padding-right:5px;"></span>See the code!</a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>The Blue Alliance is <a href="https://github.com/the-blue-alliance" target="_blank">open source</a>!</p>
                            <p>Themed with <a href="http://fezvrasta.github.io/bootstrap-material-design/" target="_blank">Bootstrap Material Design</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html
